.header {
    color: white;
    background-color: black;
    margin: auto;
    width: auto;
    height: min-content;
    border: 3px solid rgb(0, 0, 0);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px;
}

.covidImg{
    position: fixed;
    right: -100px;
    top: -10px;
    width: 1000px;
    z-index: -1;
    -webkit-animation:spin 13s linear infinite;
    -moz-animation:spin 13s linear infinite;
    animation:spin 13s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }